# System
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
hs_err_pid*
replay_pid*

# Gradle & KMP (Client)
.gradle/
build/
**/build/
.kotlin/
.konan/
kotlin-js-store/

# Local Android configs
local.properties
*.keystore
*.jks
.navigation/

# IOS
**/iosApp/DerivedData/
**/iosApp/*.xcodeproj/xcuserdata/
**/iosApp/*.xcworkspace/xcuserdata/
**/iosApp/Pods/
**/iosApp/.orbit/
.common-ios/

# GO (Server)
server-go/bin/
server-go/server-go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependencies
vendor/

# IDE
.idea/
*.iml
*.iws
.idea/workspace.xml
.idea/shelf/
.vscode/

# Docker & Database
data/
db-data/
mongodb-data/

# Other
.env
.env.local
.env.*.local
secrets.xml
google-services.json
GoogleService-Info.plist